---
import Layout from '../layouts/Layout.astro';
import HeroVideo from '../img/collectionpages/Contra/HeroVideo.mp4'
import Contra1 from '../img/collectionpages/Contra/contra1.webp';
import Contra2 from '../img/collectionpages/Contra/contra2.webp';
import Contra3 from '../img/collectionpages/Contra/contra3.webp';
import Contra4 from '../img/collectionpages/Contra/contra4.webp';
import Contra5 from '../img/collectionpages/Contra/contra5.webp';
import Video from '../img/collectionpages/Contra/ContraHclip.mp4';

---

<Layout>
    <div class="breadcrumbs py-space-32-48 px-body-x overlinep col-span-full">
        <a class="hover-underline-animation" href="/collections/">Collections</a> 
        / <a href="/">The Contrapposto Concept</a>
    </div>
    <!-- HERO VIDEO -->
    <video src={HeroVideo} autoplay loop class="m-auto w-[75vw]"></video>

<div class="mobileGrid desktopGrid">
    <h1 class="col-span-4 md:col-span-7 py-space-32-48 md:pb-0">The Contrapposto Concept</h1>
    <div class="col-start-3 md:col-start-10 md:mt-space-32-48 col-span-2 md:col-span-3 w-[165px] md:w-[211px] h-[107px] md:h-[137px] bg-slate-400 mb-space-64-160px"></div>

<img src={Contra1} alt="Picture of dress from Contrapposto Project" class="col-span-2 md:col-span-4 pb-8 md:pb-0">
<p class="mediumBody col-span-full md:col-span-6 md:col-start-6 md:self-center">Project focusing on concept- and shape development by combining analog and digital pattern construction with draping. Dogma rules for shaping inspired by the contrapposto posture used in ancient Greek sculpture art.</p>

<!-- <div class="hidden md:flex gap-space-gutter col-start-7 col-span-6">
    <img src={Contra2} alt="inverted picture of the dress" class="h-auto w-auto max-w-[326px] max-h-[482px]">
    <img src={Contra3} alt="black and white picture of the dress" class="h-auto w-auto max-w-[326px] max-h-[482px]">
    </div>     -->
    <div class="hidden md:flex gap-space-gutter col-start-7 col-span-6">
        <div class="img1 h-[70vh] w-[50vw]"></div>
        <div class="img2 h-[70vh] w-[50vw]"></div>
     </div>

    <div class="hidden md:flex gap-space-gutter col-start-1 col-span-5 pt-10">
        <img src={Contra5} alt="Picture of coat from collection" class="h-auto w-auto max-w-[326px] max-h-[482px]">
        <img src={Contra4} alt="Picture of coat and dress peeking through from collection" class="h-auto w-auto max-w-[211px] max-h-[275px] self-end">
        </div>    

</div>

<!-- mobile  -->
<div class="mobileGrid md:hidden pt-16">
<div class="flex col-span-full gap-space-gutter pb-space-gutter">
   <div class="img1 h-[45vh] w-[45vw]"></div>
   <div class="img2 h-[45vh] w-[45vw]"></div>
</div>
<div class="flex col-span-full gap-space-gutter">
    <div class="img3 h-[45vh] w-[45vw]"></div>
    <div class="img4 h-[45vh] w-[45vw]"></div>
 </div>

</div>

<!-- desktop -->

</Layout>


<style>
.img1{
    background-image: url('../img/collectionpages/Contra/contra2.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img2{
    background-image: url('../img/collectionpages/Contra/contra3.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img3{
    background-image: url('../img/collectionpages/Contra/contra4.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img4{
    background-image: url('../img/collectionpages/Contra/contra5.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
</style>