---
import LandingLayout from '../layouts/LandingLayout.astro'
import Cookies from '../components/Cookies.astro'
import Video from '../img/landing/video-landing.mp4'
import Image1 from '../img/landing/img1.webp'
import Image2Mobile from '../img/landing/img2-mobile.webp'
import Cards from '../components/Cards.astro'
import CollectionVideo from '../img/landing/collections-vid.mp4'
import Contrapposto from '../img/landing/contrapposto.webp'
import Lichen from '../img/landing/lichen.webp'
import Pants from '../img/landing/pants.webp'
import Shadow from '../img/landing/shadow.webp'
import Tshirt from '../img/landing/t-shirt-hover2.webp'
import Newsletter from '../components/Newsletter.astro'


---
<LandingLayout>
    <Cookies/>

    <div class="desktopGrid">
        <div class="col-span-full md:pt-[25vh] ">
            <video width="100%" autoplay loop class="">
                <source src={Video} type="video/mp4">
            </video>
        </div>
    </div>

    <div class="mobileGrid desktopGrid pt-p-l">
        <p class="col-span-3 col-start-2 md:col-start-6 md:col-span-7 lg:col-start-7 lg:col-span-6 ">Text about concept. Pharetra sed mauris lorem adipiscing amet lacus libero amet. Libero euismod accumsan ante et turpis faucibus eget amet. Scelerisque ac morbi rutrum varius varius in. Pretium ultrices sit sit odio turpis cursus orci.</p>
    </div>

    <!-- Mobile top layout -->

        <div class="mobileGrid m-0">
            <div class="col-span-3 pt-p-2xl md:hidden">
                <img class="image1" src={Image1} alt="woman image">
            </div>
        </div>

        <div class="mobileGrid pt-p-l md:hidden">
            <p class="col-start-1 col-span-3">Text about concept. Lobortis in volutpat et leo vehicula pellentesque. In penatibus integer aliquet in eget. Habitasse tincidunt ut sed ac adipiscing.</p>
        </div>

        <div class="md:hidden pt-p-2xl">
            <img src={Image2Mobile} alt="shirt image">
        </div>

    <!-- Desktop top layout -->

            <div class="desktopGrid pt-p-2xl items-center">
                <div class="hidden hover-img md:grid col-span-6 h-[425px]"></div>
                <div class="hidden hover-img2 md:grid col-start-8 col-span-5  h-[333px]"></div>
            </div>

            <div class="desktopGrid">
                <p class="hidden md:grid pt-p-l col-span-7">Text about concept. Lobortis in volutpat et leo vehicula pellentesque. In penatibus integer aliquet in eget. Habitasse tincidunt ut sed ac adipiscing.</p>
            </div>

    <!-- Rentals -->
    
    <section class="grid desktopGrid mobileGrid pt-p-4xl ">
         <h1 class="col-span-full pb-p-2xl">Rentals</h1>
    <Cards/>
    <a class="links links-animation grid col-span-full justify-end pt-p-m" href='/rental/'>See all</a>
    </section>

    <!-- Collections Mobile -->

    <div class="grid desktopGrid mobileGrid pt-p-4xl pb-p-2xl">
        <h1 class="col-span-full">Collections</h1>
    </div>
        <a href="/agab/">
            <div class="pt-[4rem] md:hidden">
                <video class="" width="100%" autoplay loop src={CollectionVideo}></video>
                <div class="mobileGrid pt-p-s">
                    <p class="accentBody col-span-full">Abject Garment, Absent Body</p>
                    <p class="accentSmallBody col-span-full">Spring 2022</p>
                </div>
            </div>
        </a>

        <a href="/agab/">
            <div class="pt-[6rem] mobileGrid md:hidden">
                <img class="col-span-2 col-start-2" src={Pants} alt="pants">
                <div class=" col-span-2 col-start-2 pt-p-s ">
                    <p class="accentBody col-span-full">Abject Garment, Absent Body</p>
                    <p class="accentSmallBody col-span-full">Spring 2022</p>
                </div>
            </div>
        </a>

        <a href="/lichen/">
            <div class="pt-[4rem] mobileGrid md:hidden">
                <img class="col-span-3 col-start-2" src={Lichen} alt="lichen">
                <div class=" col-span-3 col-start-2 pt-p-s ">
                    <p class="accentBody col-span-full">The Lichen Project</p>
                    <p class="accentSmallBody col-span-full">Spring 2022</p>
                </div>
            </div>
        </a>

        <a href="/contrapposto/">
            <div class="pt-[3.5rem] mobileGrid md:hidden">
                <img class="col-span-2 col-start-1" src={Contrapposto} alt="Contrapposto">
                <div class=" col-span-2 col-start-1 pt-p-s ">
                    <p class="accentBody col-span-full">The Contrapposto Concept</p>
                    <p class="accentSmallBody col-span-full">Spring 2022</p>
                </div>
            </div>
        </a>

        <a href="/shadow/">
            <div class="pt-[4rem] pb-[10rem] md:hidden">
                <img class="col-span-full" src={Shadow} alt="Shadow">
                <div class="desktopGrid mobileGrid pt-p-s ">
                    <p class="accentBody col-span-full">Shadow Collection</p>
                    <p class="accentSmallBody col-span-full">Spring 2022</p>
                </div>
            </div>
        </a>

         <!-- Collections Desktop -->

         <div class="hidden md:grid desktopGrid">
             <a class="md:col-start-1 md:col-span-6" href="/agab/">
                <div class="pt-[4rem]">
                    <video class="" width="100%" autoplay loop src={CollectionVideo}></video>
                    <div class="pt-p-s">
                        <p class="accentBody col-span-full">Abject Garment, Absent Body</p>
                        <p class="accentSmallBody col-span-full">Spring 2022</p>
                    </div>
                </div>
            </a>
    
             <a class="col-span-3 col-start-7" href="/agab/">
                <div class="pt-[6rem]">
                    <img class="" src={Pants} alt="pants">
                    <div class=" pt-p-s ">
                        <p class="accentBody col-span-full">Abject Garment, Absent Body</p>
                        <p class="accentSmallBody col-span-full">Spring 2022</p>
                    </div>
                </div>
            </a>

            <a class="col-span-3 col-start-10" href="/lichen/">
                <div class="pt-[4rem]">
                    <img class="" src={Lichen} alt="lichen">
                    <div class="pt-p-s ">
                        <p class="accentBody col-span-full">The Lichen Project</p>
                        <p class="accentSmallBody col-span-full">Spring 2022</p>
                    </div>
                </div>
            </a>
         </div>

         <div class="hidden md:grid desktopGrid">
            <a class="md:col-start-1 md:col-span-4" href="/agab/">
                <div class="pt-[4rem]">
                    <img class="" src={Tshirt} alt="t-shirt">
                    <div class="pt-p-s">
                        <p class="accentBody">Abject Garment, Absent Body</p>
                        <p class="accentSmallBody">Spring 2022</p>
                    </div>
                </div>
            </a>
         </div>

         <div class="hidden md:grid desktopGrid">
            <a class="md:col-start-5 md:col-span-4" href="/contrapposto/">
                <div class="">
                    <img class="" src={Contrapposto} alt="Contrapposto">
                    <div class="pt-p-s ">
                        <p class="accentBody">The Contrapposto Concept</p>
                        <p class="accentSmallBody">Spring 2022</p>
                    </div>
                </div>
            </a>
    
            <a class="md:col-start-9 md:col-span-4" href="/shadow/">
                <div class="">
                    <img class="" src={Shadow} alt="Shadow">
                    <div class="pt-p-s ">
                        <p class="accentBody">Shadow Collection</p>
                        <p class="accentSmallBody">Spring 2022</p>
                    </div>
                </div>
            </a>
         </div>

         <!-- Email Subscription -->
        <div class="mobileGrid desktopGrid">
            <Newsletter/>
        </div>



</LandingLayout>

<style>

.hover-img {
    background-image: url('../img/landing/img1.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .hover-img:hover {
    background-image: url("../img/landing/img11.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .hover-img2 {
    background-image: url('../img/landing/img2.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .hover-img2:hover {
    background-image: url("../img/landing/img22.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

.links{
    text-decoration: underline;
}
</style>

<script is:inline>


</script>

