---
import Layout from '../layouts/Layout.astro'
import Tshirt from '../img/landing/t-shirt-hover2.webp'
import Garment from '../components/GarmentCard.astro'
---
<Layout>
<div class="mobileGrid desktopGrid">
    <!-- <section class="col-span-5 sticky top-space-80-160 h-[70vh]">
        <div class="border-b-[1px] border-black">
            <p class="accentBody pb-2">Filters</p>
        </div>
       
            <div class="grid filters gap-5 md:pt-6">
                <template id="categoryTemplate">
                    <div class="flex flex.col">
                        <a href="productlist.html?categories">
                            <p class="accentBody hover-underline-breadcrumb"></p>
                        </a>
                    </div>
                </template>
            </div>

            <div>
                <img src={Tshirt} alt="tshirt">
            </div>
    </section> -->
    <section class="col-span-5 sticky top-space-80-160 h-[70vh]">
        <div class="border-b-[1px] border-black">
            <p class="accentBody pb-2">Filters</p>
        </div>
       
           
           <div class="flex flex-col gap-5  md:pt-6">
            <div class="parentFilters flex md:gap-48 col-span-full">
                <template id="parentCategoryTemplate">
                    <div class="">
                        <a href="productlist.html?categories">
                            <p class="accentBody hover-underline-breadcrumb"></p>
                        </a>
                    </div>
                </template>
            </div>
             <div class="flex md:gap-20">
                        <div class="collFilter flex flex-col md:gap-5 md:pl-3">
                            <template id="collCategoryTemplate">
                                <div class="">
                                    <a href="productlist.html?categories">
                                        <p class="accentBody hover-underline-breadcrumb"></p>
                                    </a>
                                </div>
                            </template>
                        </div>
        
        
                        <div class="typeFilter flex flex-col md:gap-5">
                            <template id="categoryTemplate">
                                <div class="">
                                    <a href="productlist.html?categories">
                                        <p class="accentBody hover-underline-breadcrumb"></p>
                                    </a>
                                </div>
                            </template>
                        </div>
                        
             </div>
           </div>
            <div>
                <img src={Tshirt} alt="tshirt">
            </div>
    </section>

    <section class="col-start-7 col-span-6 grid grid-cols-2 md:gap-6 garmentlist">
        <Garment/>
    </section>
</div>
</Layout>

<style>

    
</style>

<script is:inline>
//     window.addEventListener("load", Categories);
//     const endpoint = "https://evelinafalander.com/sallybjerregaarde/wp-json/wp/v2/"
//     function Categories(){
//     getParentCategories();
// }
window.addEventListener("load", Categories);
    const endpoint = "https://evelinafalander.com/sallybjerregaarde/wp-json/wp/v2/"
    function Categories(){
    getCollCategories();
    getParentCategories();
    getItemCategories();
}
function getParentCategories(){
 fetch(endpoint + "categories?parent=1")
 .then(res => res.json())
 .then(setupParentCategories);
//  getTheGarment();
}

function getCollCategories(){
 fetch(endpoint + "categories?parent=19")
 .then(res => res.json())
 .then(setupCategories);
//  getTheGarment();
}

function getItemCategories(){
 fetch(endpoint + "categories?parent=18")
 .then(res => res.json())
 .then(setupItemCategories);
//  getTheGarment();
}

// function  getTheGarment(){
//     fetch("https://evelinafalander.com/sallybjerregaarde/wp-json/wp/v2/garment")
//     .then(res => res.json())
//     .then(setupGarment)
// }


function setupParentCategories(catArray){
    const template = document.querySelector("#parentCategoryTemplate").content;
    const parentElement = document.querySelector(".parentFilters");
    catArray.forEach(cat => {
        const copy = template.cloneNode(true);
        copy.querySelector("p").textContent=cat.name;
        copy
            .querySelector("a")
            .setAttribute("href", `/rental/?parent=${cat.id}`);
            // .setAttribute("href", "/rental/category=" + `${cat.id}`);
        parentElement.appendChild(copy);
    })
}


function setupCategories(catArray){
    const template = document.querySelector("#collCategoryTemplate").content;
    const parentElement = document.querySelector(".collFilter");
    catArray.forEach(cat => {
        const copy = template.cloneNode(true);
        copy.querySelector("p").textContent=cat.name;
        copy
            .querySelector("a")
            .setAttribute("href", `/rental/?parents=${cat.id}`);
            // .setAttribute("href", "/rental/category=" + `${cat.id}`);
        parentElement.appendChild(copy);
    })
}

function setupItemCategories(catArray){
    const template = document.querySelector("#categoryTemplate").content;
    const parentElement = document.querySelector(".typeFilter");
    catArray.forEach(cat => {
        const copy = template.cloneNode(true);
        copy.querySelector("p").textContent=cat.name;
        copy
            .querySelector("a")
            .setAttribute("href", `/rental/?parents=${cat.id}`);
            // .setAttribute("href", "/rental/category=" + `${cat.id}`);
        parentElement.appendChild(copy);
    })
}

// function setupGarment(garmentArray){
//     const template = document.querySelector(".productlistTemplate").content;
//     const parentElement = document.querySelector(".productlist");
//     garmentArray.forEach(garment => {
//         const copy = template.cloneNode(true);
//         copy.querySelector(".price").textContent = `${garment.price_3days}`;
//         copy.querySelector(".name").textContent = `${garment.title.rendered}`;
//         copy
//         .querySelector("a")
//         .setAttribute("href", `/productview/?id=${garment.id}`);
//         copy.querySelector(".mainImage").src = garment.main_image.guid;
//         parentElement.appendChild(copy);
//     })
// }


</script>