---
import Layout from '../layouts/Layout.astro'
import Tshirt from '../img/landing/t-shirt-hover2.webp'
import Garment from '../components/GarmentCard.astro'
---
<Layout>
<div class="mobileGrid desktopGrid">
    <!-- <section class="col-span-5 sticky top-space-80-160 h-[70vh]">
        <div class="border-b-[1px] border-black">
            <p class="accentBody pb-2">Filters</p>
        </div>
       
            <div class="grid filters gap-5 md:pt-6">
                <template id="categoryTemplate">
                    <div class="flex flex.col">
                        <a href="productlist.html?categories">
                            <p class="accentBody hover-underline-breadcrumb"></p>
                        </a>
                    </div>
                </template>
            </div>

            <div>
                <img src={Tshirt} alt="tshirt">
            </div>
    </section> -->
    <section class=" pt-space-64-80 md:col-span-5 col-span-4 sticky md:top-space-80-160 top-0 md:h-[70vh] bg-white">

    <p class="accentBody pb-2 border-b-[1px] border-black">Filters</p>
    <div class="flex flex-col gap-1 pt-2  md:pt-4">
        <div class="parentFilters flex col-span-full justify-between md:pb-3">
            <template id="parentCategoryTemplate">
                <div class="">
                    <a href="productlist.html?categories">
                        <p class="accentBody hover-underline-breadcrumb"></p>
                    </a>
                </div>
            </template>
        </div>
         <div class="flex justify-between pb-2">
                    <div class="collFilter flex flex-col md:gap-3 gap-1">
                        <template id="collCategoryTemplate">
                            <div class="">
                                <a href="productlist.html?categories">
                                    <p class=" accentSmallBody hover-underline-breadcrumb"></p>
                                </a>
                            </div>
                        </template>
                    </div>
    
    
                    <div class="typeFilter flex flex-col md:gap-3 pr-12 md:pr-16 gap-1">
                        <template id="categoryTemplate">
                            <div class="">
                                <a href="productlist.html?categories">
                                    <p class="accentSmallBody hover-underline-breadcrumb"></p>
                                </a>
                            </div>
                        </template>
                    </div>
                    
         </div>
       </div>

        <!-- <div class="border-b-[1px] border-black">
            <p class="accentBody pb-2">Filters</p>
            
        </div>
       
           
           <div class="flex flex-col gap-5  md:pt-6">
            <div class="parentFilters flex md:gap-48 col-span-full">
                <template id="parentCategoryTemplate">
                    <div class="">
                        <a href="productlist.html?categories">
                            <p class="accentBody hover-underline-breadcrumb"></p>
                        </a>
                    </div>
                </template>
            </div>
             <div class="flex md:gap-20">
                        <div class="collFilter flex flex-col md:gap-5 md:pl-3">
                            <template id="collCategoryTemplate">
                                <div class="">
                                    <a href="productlist.html?categories">
                                        <p class="accentBody hover-underline-breadcrumb"></p>
                                    </a>
                                </div>
                            </template>
                        </div>
        
        
                        <div class="typeFilter flex flex-col md:gap-5">
                            <template id="categoryTemplate">
                                <div class="">
                                    <a href="productlist.html?categories">
                                        <p class="accentBody hover-underline-breadcrumb"></p>
                                    </a>
                                </div>
                            </template>
                        </div>
                        
             </div>
           </div> -->

            <div>
                <img class="hidden md:flex" src={Tshirt} alt="tshirt">
            </div>
    </section>

    <section class="md:col-start-7 md:col-span-6 grid grid-cols-2 md:gap-6 garmentlist col-span-4 ">
        <Garment/>
    </section>
</div>
</Layout>

<style>

    
</style>

<script is:inline>
//     window.addEventListener("load", Categories);
//     const endpoint = "https://evelinafalander.com/sallybjerregaarde/wp-json/wp/v2/"
//     function Categories(){
//     getParentCategories();
// }
window.addEventListener("load", Categories);
    const endpoint = "https://evelinafalander.com/sallybjerregaarde/wp-json/wp/v2/"
    function Categories(){
    getCollCategories();
    getParentCategories();
    getItemCategories();
}
function getParentCategories(){
 fetch(endpoint + "categories?parent=1")
 .then(res => res.json())
 .then(setupParentCategories);
//  getTheGarment();
}

function getCollCategories(){
 fetch(endpoint + "categories?parent=19")
 .then(res => res.json())
 .then(setupCategories);
//  getTheGarment();
}

function getItemCategories(){
 fetch(endpoint + "categories?parent=18")
 .then(res => res.json())
 .then(setupItemCategories);
//  getTheGarment();
}

// function  getTheGarment(){
//     fetch("https://evelinafalander.com/sallybjerregaarde/wp-json/wp/v2/garment")
//     .then(res => res.json())
//     .then(setupGarment)
// }


function setupParentCategories(catArray){
    const template = document.querySelector("#parentCategoryTemplate").content;
    const parentElement = document.querySelector(".parentFilters");
    catArray.forEach(cat => {
        const copy = template.cloneNode(true);
        copy.querySelector("p").textContent=cat.name;
        copy
            .querySelector("a")
            .setAttribute("href", `/rental/?parent=${cat.id}`);
            // .setAttribute("href", "/rental/category=" + `${cat.id}`);
        parentElement.appendChild(copy);
    })
}


function setupCategories(catArray){
    const template = document.querySelector("#collCategoryTemplate").content;
    const parentElement = document.querySelector(".collFilter");
    catArray.forEach(cat => {
        const copy = template.cloneNode(true);
        copy.querySelector("p").textContent=cat.name;
        copy
            .querySelector("a")
            .setAttribute("href", `/rental/?parents=${cat.id}`);
            // .setAttribute("href", "/rental/category=" + `${cat.id}`);
        parentElement.appendChild(copy);
    })
}

function setupItemCategories(catArray){
    const template = document.querySelector("#categoryTemplate").content;
    const parentElement = document.querySelector(".typeFilter");
    catArray.forEach(cat => {
        const copy = template.cloneNode(true);
        copy.querySelector("p").textContent=cat.name;
        copy
            .querySelector("a")
            .setAttribute("href", `/rental/?parents=${cat.id}`);
        parentElement.appendChild(copy);
    })
}

// function setupGarment(garmentArray){
//     const template = document.querySelector(".productlistTemplate").content;
//     const parentElement = document.querySelector(".productlist");
//     garmentArray.forEach(garment => {
//         const copy = template.cloneNode(true);
//         copy.querySelector(".price").textContent = `${garment.price_3days}`;
//         copy.querySelector(".name").textContent = `${garment.title.rendered}`;
//         copy
//         .querySelector("a")
//         .setAttribute("href", `/productview/?id=${garment.id}`);
//         copy.querySelector(".mainImage").src = garment.main_image.guid;
//         parentElement.appendChild(copy);
//     })
// }

//FETCHING ALL GARMENTS /
window.addEventListener("DOMContentLoaded", init);

function init(event) {

const url = "https://evelinafalander.com/sallybjerregaarde/wp-json/wp/v2/garment";

fetch(url)
.then(function(res){
  return res.json();
})
.then(function(data){
  handleProductList(data);
});

function handleProductList(data){
  console.log(data)
  data.forEach(showProduct);
}
}

function showProduct(garment){
  console.log(garment);
  const template = document.querySelector(".productlistTemplate").content;
  const copy = template.cloneNode(true);

  const imageContainer = copy.querySelector("#imageContainer");
  const mainImage = copy.querySelector(".mainImage");
  const hoverImage = copy.querySelector(".hoverImage");
  //change content
  copy.querySelector(".price").textContent = `${garment.price_3days}`;
  copy.querySelector(".name").textContent = `${garment.title.rendered}`;
  copy
      .querySelector("a")
      .setAttribute("href", `/singlegarment/?id=${garment.id}`);
  copy.querySelector(".mainImage").src = garment.main_image.guid;
  copy.querySelector(".hoverImage").src = garment.main_image_hover.guid;

  imageContainer.addEventListener("mouseover", function () {
    mainImage.classList.add("hide");
    hoverImage.classList.remove("hide");
  });

  // Add mouseout event listener to the image container
  imageContainer.addEventListener("mouseout", function () {
    mainImage.classList.remove("hide");
    hoverImage.classList.add("hide");
  });

  const parent = document.querySelector(".garmentlist");
  parent.appendChild(copy);
}


</script>