---
import Layout from '../layouts/Layout.astro';
import ShadowH from '../img/collectionpages/Shadow/shadowHero.webp';
import ShadowH2 from '../img/collectionpages/Shadow/shadowH2.webp';
import Shadow1 from '../img/collectionpages/Shadow/shadow1.webp';
import Shadow2 from '../img/collectionpages/Shadow/shadow2.webp'
import Shadow3 from '../img/collectionpages/Shadow/shadow3.webp';
import Carousel1 from '../img/collectionpages/Shadow/shadowC1.webp';
import Carousel2 from '../img/collectionpages/Shadow/shadowC2.webp';
import Carousel3 from '../img/collectionpages/Shadow/shadowC3.webp';

---

<Layout>
    <div class="mobileGrid desktopGrid">
    <div class="breadcrumbs py-space-24-32 overlinep col-span-full">
        <a class="hover-underline-animation" href="/collections/">Collections</a> 
        / <a href="/">Shadow Collection</a>
    </div>
    <!-- HERO -->
    <img src={ShadowH} alt="Detail image of fabric" class="md:hidden col-start-1 md:col-start-4 col-span-3 md:col-span-5 pb-space-32-48 md:rotate-90">
    <img src={ShadowH2} alt="Detail image of fabric" class="hidden md:block col-start-4 col-span-6 pb-space-32-48 ">

<div class=" md:grid md:grid-cols-3 col-span-full row-start-3 pb-space-64-160px">
    <h1 class="py-space-32-48 col-span-2">Shadow Collection</h1>
      <div class="grid relative justify-items-end">
          <div id="clickMe" class=" md:my-space-32-48  small-img-top w-[165px] h-[107px] md:w-[211px] md:h-[137px] hover:scale-95 cursor-hovercursor transition duration-700 ease-in-out"></div>
          <div id="overlay" class="hide absolute  md:my-space-32-48 w-[311px] h-[200px] md:w-[440px]  md:h-[300px] bg-slate-100"></div>
          <div id="secondOverlay" class="closeDiv modal hide absolute  md:my-space-32-48 w-[311px] h-[200px] md:w-[440px]  md:h-[300px]"></div>
      </div>  
  </div>
    </div>
  


<section class="mobileGrid desktopGrid reveal">
  
  <img src={Shadow1} alt="Picture of top from Shadow collection" class=" col-span-2 md:col-span-4 pb-8 md:pb-0 md:row-span-2">
  <p class="col-span-full md:col-span-5 md:col-start-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan enim eget ligula
       interdum posuere vel id nisl. Ut ut magna vel risus blandit tincidunt. In auctor aliquam purus, 
       a tincidunt mi condimentum a.</p>
       <img src={Shadow2} alt="Three items from Shadow Collection" class=" hidden md:block col-start-8 col-span-5 self-end">
  
</section>
<section class="mobileGrid desktopGrid reveal">
  <img src={Shadow2} alt="Three items from Shadow Collection" class="md:hidden pt-16">
</section>

<div class="reveal mobileGrid desktopGrid">
    <p class="alth1 col-span-full md:col-span-8 py-space-64-160px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
<div class="flex flex-col md:hidden col-span-2 gap-space-gutter">
    <img src={Carousel3} alt="Dress from Shadow Collection">
    <img src={Carousel2} alt="Top from Shadow Collection">
</div>
<img src={Carousel1} alt="Top from Shadow Collection" class=" md:hidden col-span-2 self-end">
</div>
<!-- desktop -->
<section class="mobileGrid desktopGrid reveal">
  <div class="reveal hidden md:flex gap-space-gutter  col-span-3 col-start-4 row-start-2">
      <img src={Carousel3} alt="Dress from Shadow Collection">
      <img src={Carousel2} alt="Top from Shadow Collection">
      <img src={Carousel1} alt="Top from Shadow Collection">
  </div>
</section>
<section class="mobileGrid desktopGrid reveal">
  <p class="col-span-full md:col-start-6 md:col-span-5 md:row-start-4 pt-8 pb-16 md:p-0 md:self-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Nullam accumsan enim eget ligula interdum posuere vel id nisl. Ut ut magna vel risus blandit tincidunt. In auctor aliquam purus, a tincidunt mi condimentum a.</p>
  <img src={Shadow3} alt="Detail image of fabric" class="col-span-full md:col-span-3 md:col-start-1 md:row-start-4 md:pt-16">
</section>

</Layout>


<style>
    /*OVERLAY*/

.small-img-top{
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-image: url('../img/collectionpages/Shadow/shadow-small-img.webp');
}
#overlay {
  background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-image: url('../img/collectionpages/Shadow/shadow-click2.webp');

}

.small-img-top:hover{
  border: 1 solid black;
    
}

.hide {
  display: none;
}
    

</style>

<script is:inline>

        //  SCROLL IN OPACITY ANIMATION
function reveal() {
    var reveals = document.querySelectorAll(".reveal");
    for (var i = 0; i < reveals.length; i++) {
      var windowHeight = window.innerHeight;
      var elementTop = reveals[i].getBoundingClientRect().top;
      var elementVisible = 80;
      if (elementTop < windowHeight - elementVisible) {
        reveals[i].classList.add("active");
      } else {
        reveals[i].classList.remove("active");
      }
    }
  }

  window.addEventListener("scroll", reveal);
reveal();

    function toggleDivOnClickOutside(clickMe, overlay) {
      const button = document.getElementById(clickMe);
      const div = document.getElementById(overlay);
    
      // Add click event listener to the button
      button.addEventListener('click', function() {
        // Toggle the display of the div
        div.style.display = (div.style.display === 'block') ? 'none' : 'block';
      });
    
      // Add click event listener to the document
      document.addEventListener('click', function(event) {
        const targetElement = event.target;
    
        // Check if the clicked element is outside the specified div and button
        if (!div.contains(targetElement) && targetElement !== button) {
          // Close the div
          div.style.display = 'none';
        }
      });
    }
    
    toggleDivOnClickOutside('clickMe', 'overlay');
    </script>
